:root {
    --main-color: #A08D8A;
    --lowered-opacity: #514847;
}

body {
    margin: 0;
    font-family: "Instrument Sans";
    background-color: #020304;
    overflow-x: hidden;
}

.mainDiv {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mainImg {
    top: 50%;
    height: 100%;

}

.mainTitle {
    color: white;
    font-size: 50px;
}

.mainText {
    font-family: "Italiana";
    font-size: 30px;
    color: var(--main-color);
    line-height: 30px;
    margin-top: 35px;
}

.mainBtn {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 10px 25px;
    font-size: 20px;
    position: absolute;
    top: 80%;
    transition: all 0.5s ease-in-out;
}

.mainBtn:hover {
    scale: 1.1;
    border: none;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.customerFav {
    height: 100vh;
    color: var(--main-color);
    position: relative;

}

.favTitle {
    color: white;
    position: absolute;
    top: 15%;
    left: 10%;
    letter-spacing: 2px;
    font-size: 40px;
}

.favText {
    font-family: "Italiana";
    font-size: 30px;
    top: 23%;
    left: 20%;
    position: absolute;
    line-height: 35px;
}

.favDiv {
    height: 55%;
    width: 80%;
    transform: translate(-50%, -75%);
    left: 50%;
    top: 75%;
    position: relative;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
}

.favBorder {
    position: relative;
    border: 2px solid var(--main-color);
    height: 100%;
    top: 0;
}

.favImg {
    height: 40%;
    position: relative;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
}

.favName {
    position: relative;
    top: 8%;
    left: 8%;
    font-size: 20px;
}

.favDesc {
    position: relative;
    top: 15%;
    left: 8%;
    color: var(--main-color);
    width: 82%;
}

.stars {
    position: relative;
    top: 30%;
    left: 10%;
    color: var(--main-color);
    margin-right: 1%;
}

.ar {
    position: relative;
    left: 80%;
    top: 20%;
    transform: translateY(-40%);
    visibility: hidden;
    font-size: 200%;
    color: var(--main-color);
}

.favBorder:hover .ar {
    visibility: visible;
    cursor: pointer;
}

.fixedCart {
    position: sticky;
    top: 5%;
    right: 100px;
    color: var(--main-color);
    font-size: 30px;
    z-index: 9999;
    width: 100%;
    text-align: right;
}

.cart {
    margin-right: 5%;
}



.cart:hover {
    cursor: pointer;
}

.descName {
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    position: absolute;
    top: 20%;
    left: 10%;
}

.descImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45%;

}

.descLeft {
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translateY(-60%);
    color: var(--main-color);
    font-size: 20px;
    width: 30%;
    line-height: 32px;
}

.title {
    color: white;
}

.descStars {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    font-size: 25px;
}

.styleDesc{
    width: 80%;
}

.descRight {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.long {
    color: white;
    font-size: 30px;
}

.longT {
    text-align: right;
    color: var(--main-color);
    font-size: 30px;
}

.descHr {
    color: var(--main-color);
    width: 130%;
    position: relative;
    margin-top: 15%;
    right: 30%;
}

.smallDet {
    color: var(--main-color);
    line-height: 180%;
    text-align: right;
    font-size: large;
}

.btn {
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
}

.buttonsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20%;
    color: white;
    font-size: 25px;
    width: 100%;


}

.number {
    min-width: 40px;
    display: inline-block;
    text-align: center;
}

.error {
    position: absolute;
    top: 37%;
    font-size: 15px;
    left: 0;
    color: red;
}

.price {
    position: absolute;
    color: var(--main-color);
    font-size: 25px;
    text-align: right;
    margin-top: 70%;
    right: 0;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addToCart {
    background-color: transparent;
    border: 2px solid var(--main-color);
    padding: 10%;
    font-size: 20px;
    color: var(--main-color);
    width: 150%;
    margin-top: 80%;
    position: relative;
    right: 50%;
    transition: all 0.5s ease-in-out;
}

.addToCart:hover {
    background-color: var(--main-color);
    color: #020304;
    cursor: pointer;
    letter-spacing: 1px;
}

.backIcon {
    position: absolute;
    left: 10%;
    top: 5%;
    color: var(--main-color);
    font-size: 25px;
    cursor: pointer;
}

.allProdDiv {
    height: 100vh;
    position: relative;

}

.allTitle {
    position: absolute;
    color: white;
    font-size: 40px;
    top: 12%;
    left: 10%;
}

.allHr {
    position: absolute;
    width: 16%;
    left: 25%;
    top: 18%;
    border: 1px solid var(--main-color);
}

.filter {
    color: var(--main-color);
    position: absolute;
    right: 10%;
    top: 25%;
    cursor: pointer;
    width:10%;
}

.explore {
    color: white;
    position: absolute;
    top: 87%;
    left: 8%;
    cursor: pointer;
}

.more {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.explore:hover .more {
    opacity: 1;
}


.allProdShow {
    position: absolute;
    width: 85%;
    height: 55%;
    top: 30%;
    left: 53%;
    transform: translateX(-53%);
    overflow-y: scroll;
    scrollbar-color: transparent transparent;

}

.productDiv {
    width: 18%;
    margin-right: 1%;
    margin-bottom: 1%;
    height: 47.5%;
    display: inline-block;
    position: relative;
    border: 1px solid var(--main-color);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.productName {
    width: 80%;
    max-height: 25px;
    overflow: hidden;
    font-size: 20px;
    color: white;
    position: relative;
    left: 10%;
    top: 10%;
    transition: all 0.5s ease-in-out;

}

.productImg {
    width: 35%;
    height: 60%;
    position: relative;
    left: 25%;
    top: 18%;
    transition: all 0.5s ease-in-out;

}

.productPrice {
    color: var(--main-color);
    bottom: -10%;
    left: 65%;
    font-size: 18px;
    position: relative;
    transition: all 0.5s ease-in-out;

}

.productIcon {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    color: var(--main-color);
    font-size: 25px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.productDiv:hover {
    background-color: var(--lowered-opacity);
}

.productDiv:hover .productIcon {
    opacity: 1;
}

.productDiv:hover .productName {
    transform: translate(-5%, -50%);
}

.productDiv:hover .productImg {
    transform: translateY(-15%);
}

.productDiv:hover .productPrice {
    opacity: 0;
}

.scentNotes {
    opacity: 0;
    transition: all 1s ease-in-out;
    font-size: 12px;

}

.productDiv:hover .scentNotes {
    opacity: 1;
    color: white;
}

.scentNotes {
    position: relative;
    left: 10%;
    top: 0%;
    max-height: 30px;
    width: 70%;
    overflow: hidden;
}

.footer {
    position: relative;
    width: 100%;
    padding-bottom: 100px;
    border-top: 2px solid var(--main-color);
}

.footerText {
    color: var(--main-color);
    font-family: "Italiana";
    width: 60%;
    text-align: right;
    position: absolute;
    line-height: 20px;
    top: 15%;
    right: 5%;
    font-size: 20px;
}

.signature {
    color: var(--main-color);
    position: absolute;
    top: 70%;
    left: 3%;
    font-family: "Italiana";
    font-size: 20px;
    padding: 0;
}

.filterOptions {
    position: relative;
    opacity: 0;
    z-index: 99999;
    background-color: #020304;
    padding-top: 10%;
    top: 10%;
}

.filterOpt {
    z-index: 99999;
    border-bottom: 2px solid var(--main-color);
    padding: 10%;
    cursor: pointer;
}

.filter:hover .filterOptions {
    opacity: 1;
}

.x{
    position: absolute;
    top: 5%;
    right: 5%;
    color: var(--main-color);
    font-size: 15px;

}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  width: 10px;
  color:  var(--main-color);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 
    19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
    19px 0     0 5px, 38px 0     0 5px, 57px 0     0 5px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 0px;
  transform: translateX(-38px);
  animation: l26 2s infinite linear;
}

@keyframes l26 {
  12.5% {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 5px,
    19px 0     0 5px, 38px 0     0 0px, 57px 0     0 5px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 0px}
  25%   {box-shadow: 
    19px -19px 0 5px, 38px -19px 0 0px, 57px -19px 0 5px,
    19px 0     0 0px, 38px 0     0 0px, 57px 0     0 0px,
    19px 19px  0 0px, 38px 19px  0 5px, 57px 19px  0 0px}
  50%   {box-shadow: 
    19px -19px 0 5px, 38px -19px 0 5px, 57px -19px 0 0px,
    19px 0     0 0px, 38px 0     0 0px, 57px 0     0 0px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 5px}
  62.5% {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
    19px 0     0 5px, 38px 0     0 0px, 57px 0     0 0px,
    19px 19px  0 0px, 38px 19px  0 5px, 57px 19px  0 5px}
  75%   {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
    19px 0     0 0px, 38px 0     0 0px, 57px 0     0 5px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 5px}
  87.5% {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
    19px 0     0 0px, 38px 0     0 5px, 57px 0     0 0px,
    19px 19px  0 5px, 38px 19px  0 0px, 57px 19px  0 0px}
}

.cartTitle{
    position: absolute;
    top: 10%;
    left: 13%;
    color:  white;
    font-size: 40px;
}

.cartListProducts{
   position: absolute;
   left: 18%;
   top: 20%;
   width: 40%;
   height: 75%;
}

.cartProdDiv{
    color: var(--main-color);
    width: 100%;
    height: 18%;
    margin-bottom: 2%;
    position: relative;
}

.cartProdDiv::before{
    content: "";
    background-color: var(--main-color);
    width: 95%;
    height: 2px;
    position: absolute;
    bottom: 0;
}

.cartImg{
    height: 80%;
    position: relative;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 2%;
}

.cartName{
    position: absolute;
    top: 20%;
    left: 20%;
    color: white;
    font-size: 20px;
}

.cartPrice{
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 20px;
}

.small{
    position: absolute;
    top: -60%;
    left: 50%;
    width: 30%;
}

.small .error{
    position: absolute;
    top: -60%;
}

.checkoutDiv{
    width: 25%;
    height: 70%;
    right: 10%;
    top: 20%;
    position: absolute;
    border: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.checkPadd{
   height: 85%;
   width: 85%;
}

.checkTitle{
    color: white;
    margin-bottom: 10%;
}

.deleteProd{
    cursor: pointer;
    color: var(--main-color);
    position: absolute;
    top: 5%;
    right: 5%;
}

.inputDiv{
    color: white;
    padding-left: 0%;
    display: flex;
    margin-top: 5%;
}

.inputDiv input{
    border: 2px solid var(--main-color);
    margin-left: 10%;
    width: 80%;
    background-color: transparent;
    border-radius: 10px;
    padding: 2%;
    color: var(--lowered-opacity);
    padding-left: 5%;


}

.text{
    width: 15%;
}

.shippTitle{
    color: var(--main-color);
    margin-top: 10%;
}

.inputAdd{
    color: var(--lowered-opacity);
     background-color: transparent;
     border: 1px solid var(--main-color);
     padding: 2%;
     width: 90%;
     margin-top: 5%;
     border-radius: 10px;
     padding-left: 5%;
    
}
  
    input[type='radio']:after {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: black;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: var(--main-color);
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid transparent;
    }

    .radioButtons{
        color: var(--main-color);
        margin-top: 2%;
    }


    .radioBlock{
        font-size: 15px;
        margin-top: 5%;
        display: flex;
        align-items: center;
    }

    .radioBtn{
        margin-right: 2%;
    }

    .paymentM{
        font-size: 18px;
        margin-top: 5%;
        cursor: pointer;
        position: relative;
        color: var(--main-color);
    }

    .checkDrop{
        opacity: 0;
        transition: all 0.5s ease-in-out;
        position: absolute;
        background-color: black;
        z-index: 999;
    }

    .dropOpt:hover{
      color: white;
    }

    
    
    .paymentM:hover .checkDrop{
        opacity: 1;
        color: var(--main-color);
    }

    .payment{
       top: 20%;
       position: relative;
       margin-top: 2%;
       font-size: 18px;
       color: white;
    }

    .summedPrice{
        position: absolute;
        color: white;
        bottom: 5% ;
    }

    .pay{
        border: none;
        border-bottom: 1px solid var(--main-color);
        border-top: 1px solid var(--main-color);
        color: white;
        position: absolute;
        right: 10%;
        background-color: transparent;
        padding: 2%;
        font-size: 18px;
        transition: all 0.5s ease-in-out;
    }

    .pay:hover{
        cursor: pointer;
        scale: 1.1;
    }


