:root {
    --main-color: #A08D8A;
}

body {
    margin: 0;
    font-family: "Instrument Sans";
    background-color: #020304;
}

.mainDiv {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mainImg {
    top: 50%;
    height: 100%;

}

.mainTitle {
    color: white;
    font-size: 50px;
}

.mainText {
    font-family: "Italiana";
    font-size: 30px;
    color: var(--main-color);
    line-height: 30px;
    margin-top: 35px;
}

.mainBtn {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 10px 25px;
    font-size: 20px;
    position: absolute;
    top: 80%;
    transition: all 0.5s ease-in-out;
}

.mainBtn:hover {
    scale: 1.1;
    border: none;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.customerFav {
    height: 100vh;
    color: var(--main-color);
    position: relative;

}

.favTitle {
    color: white;
    position: absolute;
    top: 15%;
    left: 10%;
    letter-spacing: 2px;
    font-size: 40px;
}

.favText {
    font-family: "Italiana";
    font-size: 30px;
    top: 23%;
    left: 20%;
    position: absolute;
    line-height: 35px;
}

.favDiv{
    height: 55%;
    width: 80%;
    transform: translate(-50%,-75%);
    left: 50%;
    top: 75%;
   position: relative;
   height: 50%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 1%;
}

.favBorder{
    position: relative;
    border: 2px solid var(--main-color);
    height: 100%;
    top: 0;
}

.favImg{
    height: 40%;
    position: relative;
    top: 40%;
    left: 40%;
    transform: translate(-40%,-40%);
}

.favName{
    position: relative;
    top: 8%;
    left: 8%;
    font-size: 20px;
}

.favDesc{
    position: relative;
    top: 15%;
    left: 8%;
    color: var(--main-color);
    width: 82%;
}

.stars{
    position: relative;
    top: 30%;
    left: 10%;
    color: var(--main-color);
    margin-right: 1%;
}

.ar{
    position: relative;
    left: 80%;
    top: 20%;
    transform: translateY(-40%);
    visibility: hidden;
    font-size: 200%;
    color: var(--main-color);
}

.favBorder:hover .ar{
    visibility: visible;
    cursor: pointer;
}

.fixedCart{
    position: fixed;
    top: 5%;
    right: 5%;
    color: var(--main-color);
    font-size: 30px;
    z-index: 9999;
}

.cart:hover{
    cursor: pointer;
}

.descName{
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    position: absolute;
    top: 20%;
    left: 10%;
}

.descImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40%;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  color: #f03355;
  position: relative;
  background: radial-gradient(10px,currentColor 94%,#0000);
}
.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background:
    radial-gradient(9px at bottom right,#0000 94%,currentColor) top    left,
    radial-gradient(9px at bottom left ,#0000 94%,currentColor) top    right,
    radial-gradient(9px at top    right,#0000 94%,currentColor) bottom left,
    radial-gradient(9px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: l18 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l18 {
   33%  {inset:-10px;transform: rotate(0deg)}
   66%  {inset:-10px;transform: rotate(90deg)}
   100% {inset:0    ;transform: rotate(90deg)}
}